# Build
/build/

# Debug
/debug/

# Examples
/examples/client-secret.json

# Composer
/vendor/

# Documentation
/documentation/

# Eclipse
/.buildpath
/.project
/.settings

# Node.js
/node_modules/

# WordPress
/wordpress/
